.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}
.form{
	max-width: 600px;
	background: #27476e;
	text-align: center;
	 margin: 0 auto 100px;
  padding: 45px;



}

.form input{
	width: 100%;
	height: 9%;
	font-size: 14px;
	margin-top: 10px;

}
.btn{
	width: 100%;
	height: 10%;
	cursor: pointer;
	margin-top: 10px;
}
h2{
	border:solid #27476e;
	background-color: #27476e;
	color:white;
	margin-top: 0;

}
.form input:hover{
	color: #ccc;
};